@font-face {
    font-family: IcebergRegular;
    src: url("../../fonts/Iceberg-Regular.ttf");
}

.spy-app-box {
    background-color: #1e1e1e;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: PoppinsRegular;
}

.spy-player-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #262626;
    border-radius: 10px;
    min-width: 300px;
    max-width: 300px;
    min-height: 350px;
    padding: .5rem;
    overflow: hidden;
    word-wrap: break-word;
}

.spy-player-card-item {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.spy-player-card-icon {
    font-size: 75px;
    color: #333333;
}

.spy-timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.spy-timer-item {
    flex: 1;
}

.spy-timer-seconds {
    font-size: 42px;
}

.spy-title-group {
    font-family: IcebergRegular;
    font-size: 56px;
}

.spy-title-group {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.spy-textarea {
    flex: 1;
    font-family: PoppinsRegular;
    font-size: 15px;
    border: 1px solid #484848;
    resize: none;
    width: 100%;
    min-height: 300px;
    background-color: #1c1c1c;
    color: white;
}

.spy-textarea:focus {
    outline: none;
}

.spy-slider {
    width: 100%;
    background: #1c1c1c;
    border-radius: 8px;
}

.spy-slider::-webkit-slider-thumb {
    cursor: pointer;
}

.spy-slider::-moz-range-thumb {
    background: #a82936;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
}

.spy-slider::-moz-range-thumb:hover {
    background: #d72638;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
}

.spy-button {
    background-color: #a82936;
    border: 0px;
    padding: .75rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-size: .9rem;
    justify-content: center;
    color: white;
}

.spy-button:hover {
    background-color: #d72638;
    cursor: pointer;
}

.spy-slider-group {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.spy-word {
    font-size: 30px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    text-align: center;
    overflow: hidden;
    max-width: 100%;
    word-break: break-all;
}

.spy-red {
    color: #a82936;
}