html, body {
    margin: 0; /* Remove default margin */
    padding: 0;
}

.spy-player-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ababab;
    border-radius: 10px;
    min-width: 300px;
    min-height: 350px;
    padding: .5rem;
}

.spy-player-card-item {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.spy-timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.spy-timer-item {
    flex: 1;
}

.spy-timer-seconds {
    font-size: 42px;
}