.projects {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.project-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-info-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-basis: 50px;
    min-width: 250px;
}

.project-info-content {
    flex: 1;
}

.active {
    text-decoration: underline;
}