.projects {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.project-info {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.project-info-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-info-content {
}

.active {
    text-decoration: underline;
}